<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('common/head'); %>
  </head>

  <body>
    <header><%- include('common/navbar'); %></header>

    <main>
      <h1>Logout</h1>
      <p>You are logged out</p>
      <a href="/">Home</a>
    </main>

  </body>
</html>
