extends layout
block content 
    h1= title 
    p= message


    ul
        li: a(href="/") Home Page
        li: a(href="/lobby") lobby 
        li: a(href="/games/10") Game Demo 
        li: a(href="/sign-up") Sign up to play   