<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="signup-body">
    <%- include('common/navbar') %> 
    <br>
    <a href="/" class="" style="color: #fff;"> HOME</a>
    <br>
    <div style="text-align: center;">
    <img src="images/winners.png" className="img" style="height: 360px; width:360px; align-items: center;"/>
    <p class="signUp-container each-room-status">YOU WON</p>
  </div>

  </body>
</html>
