<div class="headers">
  <img src="images/uno_logo.png" className="img" style="height: 60px; width:60px"/>
  <h1 class="" style="margin-top: 10px;">UNO MASTER</h1>
  <div style="flex:1;"></div>
  <% if(locals.login){ %>
  <button class="submit-btn"><a href="/logout"  style="text-decoration: none;">LOGOUT</a></button>
  <% } else{ %> <% } %>
</div>
